*.zip !text !filter !merge !diff
/assets/Simple.ico filter=lfs diff=lfs merge=lfs -text
/dist/Image[[:space:]]Resizer[[:space:]]Setup[[:space:]]1.0.1.exe filter=lfs diff=lfs merge=lfs -text
/dist/Image[[:space:]]Resizer[[:space:]]Setup[[:space:]]1.0.1.exe.blockmap filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/Imageresizeer.exe filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/LICENSES.chromium.html filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/chrome_100_percent.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/chrome_200_percent.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/d3dcompiler_47.dll filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/ffmpeg.dll filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/icudtl.dat filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/libEGL.dll filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/libGLESv2.dll filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/af.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/am.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/ar.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/bg.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/bn.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/ca.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/cs.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/da.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/de.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/el.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/en-GB.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/en-US.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/es-419.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/es.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/et.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/fa.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/fi.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/fil.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/fr.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/gu.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/he.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/hi.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/hr.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/hu.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/id.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/it.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/ja.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/kn.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/ko.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/lt.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/lv.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/ml.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/mr.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/ms.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/nb.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/nl.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/pl.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/pt-BR.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/pt-PT.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/ro.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/ru.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/sk.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/sl.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/sr.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/sv.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/sw.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/ta.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/te.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/th.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/tr.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/uk.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/ur.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/vi.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/zh-CN.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/locales/zh-TW.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/resources.pak filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/resources/app/Alexis[[:space:]]et[[:space:]]Noa.pdf filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/resources/app/Sauvez[[:space:]]les.pdf filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/resources/app/alexis[[:space:]]et[[:space:]]noa3.pdf filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/resources/app/alexis[[:space:]]et[[:space:]]noa_1.pdf filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/resources/app/assets/Simple.ico filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/resources/app/earth.png filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/resources/app/node_modules/.package-lock.json filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/resources/app/simple.webp filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/snapshot_blob.bin filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/v8_context_snapshot.bin filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/vk_swiftshader.dll filter=lfs diff=lfs merge=lfs -text
/dist/Imageresizeer-win32-x64/vulkan-1.dll filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/Image[[:space:]]Resizer.exe filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/LICENSES.chromium.html filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/chrome_100_percent.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/chrome_200_percent.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/d3dcompiler_47.dll filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/ffmpeg.dll filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/icudtl.dat filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/libEGL.dll filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/libGLESv2.dll filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/af.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/am.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/ar.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/bg.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/bn.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/ca.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/cs.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/da.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/de.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/el.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/en-GB.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/en-US.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/es-419.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/es.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/et.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/fa.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/fi.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/fil.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/fr.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/gu.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/he.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/hi.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/hr.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/hu.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/id.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/it.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/ja.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/kn.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/ko.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/lt.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/lv.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/ml.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/mr.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/ms.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/nb.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/nl.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/pl.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/pt-BR.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/pt-PT.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/ro.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/ru.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/sk.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/sl.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/sr.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/sv.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/sw.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/ta.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/te.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/th.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/tr.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/uk.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/ur.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/vi.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/zh-CN.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/locales/zh-TW.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/resources.pak filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/resources/app.asar filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/resources/elevate.exe filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/snapshot_blob.bin filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/v8_context_snapshot.bin filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/vk_swiftshader.dll filter=lfs diff=lfs merge=lfs -text
/dist/win-unpacked/vulkan-1.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/.package-lock.json filter=lfs diff=lfs merge=lfs -text
/node_modules/7zip-bin/linux/arm/7za filter=lfs diff=lfs merge=lfs -text
/node_modules/7zip-bin/linux/arm64/7za filter=lfs diff=lfs merge=lfs -text
/node_modules/7zip-bin/linux/ia32/7za filter=lfs diff=lfs merge=lfs -text
/node_modules/7zip-bin/linux/x64/7za filter=lfs diff=lfs merge=lfs -text
/node_modules/7zip-bin/mac/arm64/7za filter=lfs diff=lfs merge=lfs -text
/node_modules/7zip-bin/mac/x64/7za filter=lfs diff=lfs merge=lfs -text
/node_modules/7zip-bin/win/arm64/7za.exe filter=lfs diff=lfs merge=lfs -text
/node_modules/7zip-bin/win/ia32/7za.exe filter=lfs diff=lfs merge=lfs -text
/node_modules/7zip-bin/win/x64/7za.exe filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/crypto.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/fs.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/http2.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/inspector.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/@types/node/process.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/ajv/dist/ajv.bundle.js filter=lfs diff=lfs merge=lfs -text
/node_modules/ajv/dist/ajv.min.js filter=lfs diff=lfs merge=lfs -text
/node_modules/ajv/dist/ajv.min.js.map filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-bin/linux/arm/app-builder filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-bin/linux/arm64/app-builder filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-bin/linux/ia32/app-builder filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-bin/linux/loong64/app-builder filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-bin/linux/riscv64/app-builder filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-bin/linux/x64/app-builder filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-bin/mac/app-builder_amd64 filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-bin/mac/app-builder_arm64 filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-bin/win/arm64/app-builder.exe filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-bin/win/ia32/app-builder.exe filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-bin/win/x64/app-builder.exe filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-lib/scheme.json filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-lib/templates/icons/proton-native/proton-native.icns filter=lfs diff=lfs merge=lfs -text
/node_modules/app-builder-lib/templates/icons/proton-native/proton-native.ico filter=lfs diff=lfs merge=lfs -text
/node_modules/argparse/argparse.js filter=lfs diff=lfs merge=lfs -text
/node_modules/async/dist/async.js filter=lfs diff=lfs merge=lfs -text
/node_modules/async/dist/async.mjs filter=lfs diff=lfs merge=lfs -text
/node_modules/bluebird/js/browser/bluebird.core.js filter=lfs diff=lfs merge=lfs -text
/node_modules/bluebird/js/browser/bluebird.js filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/LICENSES.chromium.html filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/chrome_100_percent.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/chrome_200_percent.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/d3dcompiler_47.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/electron.exe filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/ffmpeg.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/icudtl.dat filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/libEGL.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/libGLESv2.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/af.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/am.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ar.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/bg.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/bn.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ca.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/cs.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/da.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/de.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/el.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/en-GB.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/en-US.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/es-419.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/es.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/et.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/fa.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/fi.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/fil.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/fr.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/gu.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/he.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/hi.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/hr.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/hu.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/id.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/it.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ja.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/kn.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ko.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/lt.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/lv.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ml.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/mr.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ms.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/nb.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/nl.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/pl.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/pt-BR.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/pt-PT.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ro.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ru.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/sk.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/sl.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/sr.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/sv.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/sw.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ta.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/te.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/th.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/tr.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/uk.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/ur.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/vi.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/zh-CN.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/locales/zh-TW.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/resources.pak filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/resources/default_app.asar filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/snapshot_blob.bin filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/v8_context_snapshot.bin filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/vk_swiftshader.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/dist/vulkan-1.dll filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/electron.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/node_modules/@types/node/crypto.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/node_modules/@types/node/fs.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/node_modules/@types/node/http2.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/electron/node_modules/@types/node/inspector.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/js-yaml/dist/js-yaml.js filter=lfs diff=lfs merge=lfs -text
/node_modules/js-yaml/dist/js-yaml.mjs filter=lfs diff=lfs merge=lfs -text
/node_modules/lodash/core.js filter=lfs diff=lfs merge=lfs -text
/node_modules/lodash/lodash.js filter=lfs diff=lfs merge=lfs -text
/node_modules/mime-db/db.json filter=lfs diff=lfs merge=lfs -text
/node_modules/minipass-sized/package-lock.json filter=lfs diff=lfs merge=lfs -text
/node_modules/node-gyp/gyp/pylib/gyp/generator/make.py filter=lfs diff=lfs merge=lfs -text
/node_modules/node-gyp/gyp/pylib/gyp/generator/msvs.py filter=lfs diff=lfs merge=lfs -text
/node_modules/node-gyp/gyp/pylib/gyp/generator/ninja.py filter=lfs diff=lfs merge=lfs -text
/node_modules/node-gyp/gyp/pylib/gyp/input.py filter=lfs diff=lfs merge=lfs -text
/node_modules/node-gyp/gyp/pylib/gyp/xcodeproj_file.py filter=lfs diff=lfs merge=lfs -text
/node_modules/node-gyp/gyp/tools/emacs/testdata/media.gyp.fontified filter=lfs diff=lfs merge=lfs -text
/node_modules/path-scurry/dist/commonjs/index.js.map filter=lfs diff=lfs merge=lfs -text
/node_modules/path-scurry/dist/esm/index.js.map filter=lfs diff=lfs merge=lfs -text
/node_modules/path-scurry/node_modules/lru-cache/dist/commonjs/index.js.map filter=lfs diff=lfs merge=lfs -text
/node_modules/path-scurry/node_modules/lru-cache/dist/commonjs/index.min.js.map filter=lfs diff=lfs merge=lfs -text
/node_modules/path-scurry/node_modules/lru-cache/dist/esm/index.js.map filter=lfs diff=lfs merge=lfs -text
/node_modules/path-scurry/node_modules/lru-cache/dist/esm/index.min.js.map filter=lfs diff=lfs merge=lfs -text
/node_modules/plist/dist/plist-build.js filter=lfs diff=lfs merge=lfs -text
/node_modules/plist/dist/plist-parse.js filter=lfs diff=lfs merge=lfs -text
/node_modules/plist/dist/plist.js filter=lfs diff=lfs merge=lfs -text
/node_modules/rcedit/bin/rcedit-x64.exe filter=lfs diff=lfs merge=lfs -text
/node_modules/rcedit/bin/rcedit.exe filter=lfs diff=lfs merge=lfs -text
/node_modules/source-map/dist/source-map.debug.js filter=lfs diff=lfs merge=lfs -text
/node_modules/source-map/dist/source-map.js filter=lfs diff=lfs merge=lfs -text
/node_modules/source-map/dist/source-map.min.js.map filter=lfs diff=lfs merge=lfs -text
/node_modules/sumchecker/yarn.lock filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/_tsc.js filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/cs/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/de/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/es/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/fr/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/it/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/ja/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/ko/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/lib.dom.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/lib.es5.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/lib.webworker.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/pl/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/pt-br/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/ru/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/tr/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/typescript.d.ts filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/typescript.js filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/zh-cn/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/typescript/lib/zh-tw/diagnosticMessages.generated.json filter=lfs diff=lfs merge=lfs -text
/node_modules/uri-js/dist/es5/uri.all.js.map filter=lfs diff=lfs merge=lfs -text
/node_modules/uri-js/yarn.lock filter=lfs diff=lfs merge=lfs -text
/package-lock.json filter=lfs diff=lfs merge=lfs -text
